@import "tailwindcss";

@theme {
  --color-primary: #F7B500;
  --color-dark-bg: #121212;
  --color-dark-card: #1E1E1E;
  --color-dark-input: #2C2C2C;

  --color-text-primary: #FFFFFF;
  --color-text-secondary: #A0A0A0;
  --color-text-muted: #606060;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  body {
    @apply bg-dark-bg text-text-primary font-sans;
  }
}

/* Custom Scrollbar for dark theme */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-dark-bg;
}

::-webkit-scrollbar-thumb {
  @apply bg-dark-card rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}